/*
 *
 * Copyright 2009 (C) Fundación CTIC <http://www.fundacionctic.org/>
 *
 * This file is part of the generic visualizadorMapas/visualizadorIDEZar Gadgets
 * for the EzWeb Platform
 *
 * visualizadorMapas/visualizadorIDEZar Gadgets are free software: you can
 * redistribute them and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * visualizadorMapas/visualizadorIDEZar Gadgets is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with visualizadorMapas/visualizadorIDEZar Gadgets. If not, see
 * <http://www.gnu.org/licenses/>.
 *
 */
.
.olControlIAAA_ImprovedScaleBar {
    /*background-color: #F8F8F8;
	color:#003677;*/
    border: 1px solid rgb(203,203,203);
    /*-moz-opacity:0.85;
	filter:alpha(opacity=85);*/
	width: 100%;
	height: 30px;
	padding-left: 0px;
	bottom:0px;
	left:0px;
  }

.olControlIAAA_ImprovedScaleBarBar {
    height: 11px;
    top: 5px;
    /*border: 1px solid #00367A;*/
    background-color: #00367A;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.olControlIAAA_ImprovedScaleBarBarAlt {
    height: 11px;
    top: 5px;
    /*border: 1px solid #00367A;*/
    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-image: url('../img/blue_style/scaleBarBarAltImage.png');
}

.olControlIAAA_ImprovedScaleBarMarkerMinor {
    height: 13px;
    width: 1px;
    top: 5px;
    background-image: url('../img/blue_style/scaleBarMarker.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5000;
}

.olControlIAAA_ImprovedScaleBarMarkerMajor {
    height: 13px;
    width: 1px;
    top: 5px;
    background-image: url('../img/blue_style/scaleBarMarker.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5000;
}


.olControlIAAA_ImprovedScaleBarNumbersBox {
    height: 13px;
    width: 40px;
    top: 16px;
    /*font-size: 9px;*/
    font-weight: bold;
    font-family: Verdana;
    color:#00367A;
    font-size: 10px;
}

.olControlIAAA_ImprovedScaleBarLabelBox {
    height: 15px;
    top: 5px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color:#00367A;
    font-family: Verdana;
}

.olControlIAAA_ImprovedScaleBarLabelBoxSingleLine {
    height: 15px;
    width: 35px;
    top: 0px;
    left: 10px;
    font-size: 13px;
}
