body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#nota {
    position: absolute;
	margin: 0;
	padding: 0 0 0 3px;
	border: none;
	font-size: 12pt;
	font-family: "Comic Sans MS", "Arial", "Helvetica";
	background: none;
	top: 0;
	left: 0;
	height: 100%;
}

#dnota {
	background-color: #ffeeaa;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
}

#corner, center {
    display: none;
}

.decorated #nota {
	top: 36px;
}

#dnota.decorated {
	margin: 10px 5px 5px;
	border: 1px solid black;
}

.decorated #corner {
    position: absolute;
    right: -2px;
    top: -2px;
}

.decorated #pin {
    position: relative;
    top: -11px;
    cursor: pointer;
    z-index: 1;
}

.decorated #corner, .decorated center {
    display: block;
}
