/***************************************************************************
* Copyright 2010 (C)
Grupo de Sistemas de Información Avanzados IAAA Universidad de Zaragoza <http://iaaa.cps.unizar.es/>

This file is part of the generic catastro Gadget for the EzWeb Platform

catastro Gadget is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

catastro Gadget is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with catastro Gadget. If not, see <http://www.gnu.org/licenses/>
* ****************************************************************************/

/* The Original Code is style.css
 * The Initial Developer of the Original Code is IAAA.
 *
 * Created on Tue May 04 10:19:49 CEST 2010 
 */
div.olMapViewport {
   -moz-user-select: none 
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}

.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
}
.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
} 

div.olControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 80px;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 80px;
}

.olControlOverviewMapExtentRectangle {
   cursor: move;
    border: 2px dotted red;
}
.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
}    
.olControlNavToolbar div { 
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}

.olControlNavToolbar .olControlNavigationItemActive { 
  background-image: url("img/panning-hand-on.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive { 
  background-image: url("img/panning-hand-off.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemActive { 
  background-image: url("img/drag-rectangle-on.png");
  background-color: orange;
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
  background-image: url("img/drag-rectangle-off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlEditingToolbar div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-image: url("img/pan_on.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-image: url("img/pan_off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-image: url("img/draw_point_on.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-image: url("img/draw_point_off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive { 
  background-image: url("img/draw_line_off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive { 
  background-image: url("img/draw_line_on.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-image: url("img/draw_polygon_off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-image: url("img/draw_polygon_on.png");
  background-repeat: no-repeat;
}