body {
	text-align: left;
	background: #EDECEB;
	font-family:sans-serif;
	font-size: 10pt;
	white-space: normal
}
#topPanel{
	height:35px;
	top:2px;
	left:2px;
	right: 2px;
	min-width: 300px;
	background: #EDECEB url(../images/ebay.png) no-repeat scroll right center;
}
#bottomPanel{
	top:32px;
	left:2px;
	right:2px;
	bottom:2px;
	position:absolute;	
}

#finalPanel{
	height:30px;
	top:32px;
	left:2px;
	right:2px;
	bottom:2px;	
}

#anchor{
	float:left;
	margin-top:5px;
	margin-left:13px;
}

#image{
	float:left;
	margin-top:10px;
	margin-left:15px;
}

#table{
	float:right;
}

#content{
	bottom:35px;
	left:0;
	position:absolute;
	right:0;
	top:0;
	overflow-y:auto;
	overflow-x:auto;
}

#buttons{
	bottom:3px;
	left:2px;
	position:absolute;
	right:2px;
	background-color:#94B5DF;
	border: solid 1px #888888;
	-moz-border-radius: 4px;
}
#pages{
	display:block;
	height:28px;	
	line-height:28px;
	text-align:center;
	vertical-align:middle;
}

#prev-button{
	border-style:none;
	background:transparent;
	position:absolute;
	top:2px;	
}

#more-button{
	border-style:none;
	background:transparent;
	position:absolute;
	right:0px;
	top:2px;
}

table {
	font-size:90%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	color: #333;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
}

caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
thead th, tfoot th, tfoot td {
	font-family: arial, verdana, sans-serif;
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #fff;
	background: #009;
}
  
tfoot th, tfoot td {
	border-top: 2pt double #009;
}

td, th {
	padding:4px;
}

tbody tr th, tbody tr td {
	border-bottom: 1px dotted #009;
}

tbody tr:hover td, tbody tr:hover th {
	border-bottom: 1px solid #333;
}

table a[title^="Download"] { 
	font-style:italic;
}

tbody td a, tbody th a {
	background: transparent;
	color: #009;
	text-decoration: none;
	border:none;
}

tbody td a:hover, tbody th a:hover {
	background: transparent;
	color: #930;
}

.odd {
	background: #e3e3f4;
}

tbody tr:hover {
	color: #333;
	background: #c6c6e8;
}

tbody tr th:hover {
	background:#fff;
}
