/***************************************************************************
* Copyright 2010 (C)
Grupo de Sistemas de Información Avanzados IAAA Universidad de Zaragoza <http://iaaa.cps.unizar.es/>

This file is part of the generic catastro Gadget for the EzWeb Platform

catastro Gadget is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

catastro Gadget is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with catastro Gadget. If not, see <http://www.gnu.org/licenses/>
* ****************************************************************************/

/* The Original Code is HTML_Cadastre_style.css
 * The Initial Developer of the Original Code is IAAA.
 *
 * Created on Mon Feb 08 14:28:20 CET 2010 
 */
.metadataHTML a.index {
	color: blue;
	font-size: 8px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: normal;
	padding: 3px;
	text-decoration: underline;
}
.metadataHTML div {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #000033;
	padding:1px;
}
.metadataHTML li {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #000033;
  	list-style-type: none;
  	list-style-position: outside; 
}
.metadataHTML p {
	color: #003399;
	text-decoration: none;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	font-weight:normal;
	font-style:normal;
	margin-left:2px;
	padding:1px;
	display:inline; 
}
.iaaa-Cadastre-Black .iaaa-ResultsView .metadataHTML p {
	color: black;
	text-decoration: none;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	font-weight:normal;
	font-style:normal;
	margin-left:2px;
	padding:1px;
	display:inline; 
}
.metadataHTML hr {
  color:#003399;
}
.iaaa-Cadastre-Black .iaaa-ResultsView .metadataHTML hr {
  color:black;
}
.metadataHTML li.index {
  	list-style-type: disc;
}
.metadataHTML div.sectionIndex {
	font-size:13px;
	font-weight:bold;
	color:white;
	margin-left:0px;
	background-color:#336EA0;
}
.iaaa-Cadastre-Black .iaaa-ResultsView .metadataHTML div.sectionIndex {
	font-size:13px;
	font-weight:bold;
	color:white;
	margin-left:0px;
	background-color:black;
}


/* Estilo del titulo de la pagina */ 
.metadataHTML div.pageTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold; 
	border-style:double;
	padding:5px;
	color:white;
	background-color:#336EA0;
	text-align: center;
}
.iaaa-Cadastre-Black .iaaa-ResultsView .metadataHTML div.pageTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold; 
	border-style:double;
	padding:5px;
	color:white;
	background-color:black;
	text-align: center;
}
/* Estilo del titulo del índice */ 
.metadataHTML div.indexTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold; 
	padding:5px;
	color: #000033;
}
/* Estilos de las diferentes secciones */ 
/* La seccion0 no se mostrara */
.metadataHTML div.section0 {
	margin-left:0px;
	padding:1px;
}
.metadataHTML div.section1 {
	margin-left:5px;
}
.metadataHTML li.section1l {
	margin-left:5px;
}
.metadataHTML p.section1v {
}
.metadataHTML div.section2 {
	margin-left:10px;
}
.metadataHTML li.section2l {
	margin-left:10px;
}
.metadataHTML p.section2v {
}
.metadataHTML div.section3 {
	font-weight:bold;
	margin-left:20px;
}
.metadataHTML li.section3l {
	font-weight:bold;
	margin-left:20px;
}
.metadataHTML p.section3v {
	font-weight:normal;
}
.metadataHTML div.section4 {
	margin-left:30px;
}
.metadataHTML li.section4l {
	margin-left:30px;
}
.metadataHTML p.section4v {
}
.metadataHTML div.section5 {
	margin-left:40px;
}
.metadataHTML li.section5l {
	margin-left:40px;
}
.metadataHTML p.section5v {
}
.metadataHTML div.section6 {
	margin-left:50px;
}
.metadataHTML li.section6l {
	margin-left:50px;
}
.metadataHTML p.section6v {
}
.metadataHTML div.section7 {
	margin-left:50px;
}
.metadataHTML li.section7l {
	margin-left:50px;
}
.metadataHTML p.section7v {
}
.metadataHTML div.section8 {
	margin-left:60px;
}
.metadataHTML li.section8l {
	margin-left:60px;
}
.metadataHTML p.section8v {
}
.metadataHTML div.section9 {
	margin-left:80px;
}
.metadataHTML li.section9l {
	margin-left:80px;
}
.metadataHTML p.section9v {
}
.metadataHTML div.section10 {
	margin-left:100px;
}
.metadataHTML li.section10l {
	margin-left:100px;
}
.metadataHTML p.section10v {
}
.metadataHTML div.section11 {
	margin-left:120px;
}
.metadataHTML li.section11l {
	margin-left:120px;
}
.metadataHTML p.section11v {
}
.metadataHTML div.section12 {
	margin-left:140px;
}
.metadataHTML li.section12l {
	margin-left:140px;
}
.metadataHTML p.section12v {
}
.metadataHTML div.section13 {
	margin-left:160px;
}
.metadataHTML li.section13l {
	margin-left:160px;
}
.metadataHTML p.section13v {
}
.metadataHTML div.section14 {
	margin-left:180px;
}
.metadataHTML li.section14l {
	margin-left:180px;
}
.metadataHTML p.section14v {
}
.metadataHTML div.section15 {
	margin-left:200px;
}
.metadataHTML li.section15l {
	margin-left:200px;
}
.metadataHTML p.section15v {
}
.metadataHTML div.section16 {
	margin-left:200px;
}
.metadataHTML li.section16l {
	margin-left:200px;
}
.metadataHTML p.section16v {
}
.metadataHTML div.section17 {
	margin-left:200px;
}
.metadataHTML li.section17l {
	margin-left:200px;
}
.metadataHTML p.section17v {
}
.metadataHTML div.section18 {
	margin-left:200px;
}
.metadataHTML li.section18l {
	margin-left:200px;
}
.metadataHTML p.section18v {
}
.metadataHTML div.section19 {
	margin-left:200px;
}
.metadataHTML li.section19l {
	margin-left:200px;
}
.metadataHTML p.section19v {
}
.metadataHTML div.section20 {
	margin-left:200px;
}
.metadataHTML li.section20l {
	margin-left:200px;
}
.metadataHTML p.section20v {
}