/***************************************************************************
* Copyright 2010 (C)
Grupo de Sistemas de Información Avanzados IAAA Universidad de Zaragoza <http://iaaa.cps.unizar.es/>

This file is part of the generic catastro Gadget for the EzWeb Platform

catastro Gadget is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

catastro Gadget is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with catastro Gadget. If not, see <http://www.gnu.org/licenses/>
* ****************************************************************************/

/* The Original Code is SortEditTable.css
 * The Initial Developer of the Original Code is IAAA.
 *
 * Created on Tue May 04 10:19:49 CEST 2010 
 */
html,body,div,pre,form,fieldset,input,th,td,select
{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.vp
{
	background: #336699;
	width: 400px;
	height: 300px;
}

.iaaa-SortEditTable 
{
	table-layout: fixed;
	border: none;
}

.iaaa-SortEditTable .customFont 
{
	font-family: tahoma, sans-serif;
	font-size: 11px;
	color: #000096;
}

.iaaa-SortEditTable td 
{
	border: 1px solid #93BEE2;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px;
	text-overflow: ellipsis;   /* IExplorer */
}

/* buttons column style */
.iaaa-SortEditTable td.buttonsColumnCell 
{
	border: none;
	background: transparent;
	width: 22px;
	margin: 0px;
	padding: 0px;
}

.iaaa-SortEditTable .buttonsColumnCell td
{
	border: none;
	margin: 0px;
	padding: 0px;
}

.iaaa-SortEditTable .buttonsColumnCell .my-btn
{
	width: 0px;
}

.iaaa-SortEditTable .tableHeader 
{
	font-family: tahoma, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	/*background: #6585B8; /*#104A7B; */
	background: transparent url(images/default/panel/top-bottom.gif) repeat-x;
	color: black; /*#FFFFFF;*/
	padding: 0px;
	border: none;
	height: 100%;
}

/* table header style for NO compulsory columns */
.iaaa-SortEditTable .noCompulsoryHeader 
{
	
}

/* table header style for compulsory columns */
.iaaa-SortEditTable .compulsoryHeader 
{
	text-decoration: underline;
}

/* table header style for NO compulsory columns */
.iaaa-SortEditTable .sortableHeader 
{
	cursor: pointer;
}

/* table header style for compulsory columns */
.iaaa-SortEditTable .unsortableHeader 
{
	cursor: not-allowed;
}

/* table header text panel style */
.iaaa-SortEditTable .headerText
{
	border: 1px solid #93BEE2;
	padding: 3px 2px 2px 2px;
	/* Header word wrap */
	white-space: pre; /* CSS2 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

/* erase row buttons style */
.iaaa-SortEditTable .eraseRowButton 
{
	background: url(./images/remove.png) no-repeat 50% 50%;
}

/* erase row buttons style */

.iaaa-SortEditTable .clearInsertionRowButton 
{
	background: url(./images/edit-clear16.png) no-repeat 50% 50%;
}

/* style to customize sort asc image by css */
.iaaa-SortEditTable .sortAsc
{
	background: transparent url(images/asc.gif) no-repeat scroll 0% top;
}

/* style to customize sort desc image by css */
.iaaa-SortEditTable .sortDesc 
{
	background: transparent url(images/desc.gif) no-repeat scroll 0% top;
}

/* style to customize sort desc image by css */
.iaaa-SortEditTable .noEdit
{
	background: transparent url(images/lock.gif) no-repeat scroll 0% bottom;
}

/* odd rows style */
.iaaa-SortEditTable .oddRow 
{
	font-family: tahoma, sans-serif;
	font-size: 11px;
	color: #000096;
	background: #FFFFFF;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* even rows style */
.iaaa-SortEditTable .evenRow 
{
	font-family: tahoma, sans-serif;
	font-size: 11px;
	color: #000096;
	background: #f3f5ff;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* insertion row style */
.iaaa-SortEditTable .insertionRow 
{
	font-family: tahoma, sans-serif;
	font-size: 11px;
	color: #000096;
	background: #ffffe9;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* active row style */
.iaaa-SortEditTable .activeRow 
{
	border: 1px solid #c83232;
}

/* active cell style */
.iaaa-SortEditTable .activeCell 
{
	border: 2px solid red;
}

/* cell editors */
.iaaa-SortEditTable .textBox 
{
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	margin: -2px;
	border: 0px;
	width: 100%;
	font-family: tahoma, sans-serif;
	font-size: 11px;
	color: #000096;
}

.iaaa-SortEditTable .checkBox 
{
	
}

.iaaa-SortEditTable .listBox 
{
	font-family: tahoma, sans-serif;
	color: #104A7B;
	background: #FFFFFF;
	padding: 0px;
	margin: -3px;
	font-size: 11px;
	width: 100%;
}

/* popup's styles */
.iaaa-SortEditTablePopup 
{
	border: 3px solid rgb(255, 255, 204);
	background: #6585B8;
}

	.iaaa-SortEditTablePopup td
	{
		align: center;
	}

	/* popup trees style */
	.iaaa-SortEditTablePopup .gwt-Tree 
	{
		font-family: tahoma, sans-serif;
		font-size: 12px;		
		background: #336699;
		/* opacity and alpha transparency supported by Firefox, Opera, IE, Mozilla */
		filter: alpha(opacity = 80);
		-moz-opacity: 0.8;
		opacity: 0.8;
	}
	
		.iaaa-SortEditTablePopup .gwt-Tree .gwt-TreeItem 
		{
			font-size: 11px;
			color: white;
			cursor: pointer;			
		}
		
		.iaaa-SortEditTablePopup .gwt-Tree .gwt-TreeItem-selected 
		{
			font-weight: bold;		
			font-size: 11px;
			color: yellow;
			cursor: pointer;
		}

	/* popupListBox style */
	.iaaa-SortEditTablePopup .popupListBox 
	{
		font-family: tahoma, sans-serif;
		font-size: 11px;
		color: #FFFFFF;
		background: #336699;
		cursor: pointer;
		/* opacity and alpha transparency supported by Firefox, Opera, IE, Mozilla */
		filter: alpha(opacity = 80);
		-moz-opacity: 0.8;
		opacity: 0.8;
	}
	
	/* popup text areas style */
	.iaaa-SortEditTablePopup .gwt-TextArea 
	{
		font-family: tahoma, sans-serif;
		font-size: 12px;
	/*	color: #FFFFFF; */
		/*font-weight: bold; */
		background: #C3D9FF;;
		/* opacity and alpha transparency supported by Firefox, Opera, IE, Mozilla */
		filter: alpha(opacity = 80);
		-moz-opacity: 0.8;
		opacity: 0.8;
	}
	
	/* popup text area or text box buttons */
	.iaaa-SortEditTablePopup .gwt-Button 
	{
		font-size: 10px;
		width: 60px;
		/*background: #336699;
		color: white; */
	}