html
{
	background-color: #F5C9C9;
}
body
{
	font-family: Trebuchet MS,Bitstream Vera Sans,Verdana,Helvetica,sans-serif;
	border-top-width:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
}
.item
{
	/*display: block;*/
	font-size:12px;
	/*font-family: Verdana;*/
}

.today .colleft
{
	/*float: left;*/
	clear:both;
	padding-right:3px;
	width:100%;
	text-align: center;
	width:224px;
	overflow:hidden;
	
	/*margin-top:5px;*/
	padding-bottom:6px;
	padding-right:6px;
}

.today .colleft .tmp
{
	/*font-family:verdana;*/
	font-size:large;
	margin-top:5px;
	
}

.today .colleft .icon
{
		float:left;

}

.colleft
{
	/*float: left;*/
	clear:both;
	padding-right:3px;
	/*font-family:verdana;*/
	font-size:12px;
	text-align: center;
}

.colleft .tmp
{
	/*font-family:verdana;*/
	font-size:large;
	margin-top:5px;
}

.colleft .info
{
	float:right;
}


.item td
{
	text-align: center;
	text-align:center;
	background:white none repeat scroll 0 0;
}

.item .hd
{
}
.item th
{
	background-color:tomato;
	padding-left:4px;
	padding-right:4px;
}

.date
{
	font-size:12px;
	/*font-family: verdana;*/
	clear: both;
}
.today .date
{
	font-size:12px;
	/*font-family: verdana;*/
	clear: both;
}

.nextDay
{
	font-size:12px;
	/*font-family: verdana;*/
}

.nextDay .icon
{
	float: left;
}

.nextDay .info
{
	float: right;
	margin-right:3px;
	padding: 3px;
	width:62px;
}

.infoNext
{
	font-size:12px;
	margin-left:11px;
/*font-family:verdana;*/
/*font-size:12px;*/
/*width:100%;*/
}

.infoD
{
	float: right;
}

.infoI
{
	float: left;
	padding-left:4px;
	padding-right:4px;
}

.infoNext .header
{
	background-color:tomato;
	/*padding-left:7px;
	padding-right:7px;*/
	text-align:center;
}

.infoNext .day
{
	background-color: white;
}

.datoscc
{
	font-size:12px;
	/*font-family: verdana;*/
	float: right;
}

.datoscc .infoI
{
	float: left;
	padding-left:7px;
	padding-right:7px;
	clear:both;
}
.datoscc .infoD
{
	float: right;
}

.datoscc .it
{
}
.city{
	/*font-family:verdana;*/
	font-size:small;
	font-weight:normal;
	/*text-align:center;*/
	max-width:599px;
	/*text-decoration:underline;*/
	margin-left:16px;
	margin-top:0px;

}


.other
{
	text-decoration:underline;
	cursor: pointer;
	margin-left: 5px;
}

.colright
{
	margin-top:26px;
	/*float:right;*/
}

.full
{
	max-width:439px;
}

#loading
{
	/*background:transparent none repeat scroll right center;
	vertical-align:top;
	width:23px;
	visibility: hidden;*/
	/*left:260px;*/
	position:relative;
	top:6px;
	width:22px;
	visibility: hidden;
}

label
{
	font-size:small;
	/*font-family: Verdana;*/
	padding-right: 3px;
}



#_city{
	float:left;
	/*font-family:Verdana;*/
	font-size:small;
	margin-top:8px;
	padding-right:3px;
	width:44px;
}
input,button,select
{
	font-family: Trebuchet MS,Bitstream Vera Sans,Verdana,Helvetica,sans-serif;
	font-size:70%;
}

#header
{
	margin-left:15px;
}

