body {
	background: #9AE4E8 url(http://demo.ezweb.morfeo-project.org/repository/twitter/images/bg.gif) repeat fixed left top;
	font-family:'Lucida Grande',sans-serif;
	margin: 5px;
}

a { 
	color:#0084B4;
	text-decoration: none; 
	white-space: nowrap;
	font-size:11px;
}

h3 { 
	margin: 0px auto 5px auto;
	font-size:12px;
}


#logo { 
	width:100px;
	position:absolute;
	right:6px;
}

#tab_table {
	margin: 0 auto;
	height:auto;
	width: 98%;
	table-layout: auto;
}

#tab_table .tab {
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	background: #FFFFFF none repeat scroll 0 0;
	margin: 0px 0px 0px 4px;
	padding: 3px 5px 0px 6px;
	text-align: center;
	float: left;
}

#tab_table .tab.current{
	border-bottom: 2px solid #FFFFFF;	
}

#status{
	border: 1px solid #AAAAAA;
	width: 100%;
	padding: 5px 0px 0px 5px;
	overflow: auto;
	line-height:1.1;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-stretch: normal;
	font-size-adjust: none;
	font-size: 1.15em;
}

#container {
	-moz-border-radius: 5px;
	background: #FFFFFF none repeat scroll 0 0;
	text-align: left;
	overflow: auto;
	padding: 10px 10px 10px;
	min-height: 100px;
}

.bottom_cont {
	text-align: right;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.disabled_button{
	background: transparent url(http://demo.ezweb.morfeo-project.org/repository/twitter/images/round-btn.gif) repeat scroll 0 0;
	-moz-border-radius: 5px;
	border: 1px solid #CECECE;
	margin-left: 5px;
	padding: 0.25em 1em;
	font-size: 14px;
	color: #CECECE;
	cursor: default;
}

.button{
	background: transparent url(http://demo.ezweb.morfeo-project.org/repository/twitter/images/round-btn.gif) repeat scroll 0 0;
	-moz-border-radius: 5px;
	border: 1px solid #CECECE;
	margin-left: 5px;
	padding: 0.24em;
	color: #0084B4;
	font-size: 14px;
	cursor: pointer;
}

.button:hover{
	background: transparent url(http://demo.ezweb.morfeo-project.org/repository/twitter/images/round-btn-hover.gif) repeat scroll 0 0;
}

#container .message_container {
	border-bottom: 1px dashed #D2DADA;
	padding: 5px 5px 10px 5px;
}

#container .message_container .message {
	min-height: 32px;
	font-size: 0.9em;
}

#container .message_container .message.selected{
	background: #D5D5D5;
}

#container .message_container .message .header {
	font-family: Georgia;
	font-size: 0.8em;
	font-style: italic;
	color: #999999;
}

#container .message_container .message .header .name, #container .message_container .message .friend {
	color: #0084B4;	
}

#container .message_container .avatar {
	float: left;
	height: 32px;
	width: 32px;
	padding: 2px;
	margin-right: 5px;
}

#container .message_container .sender {
	position: relative;
	right: 5px;
	float: right;
	padding: 2px;
	margin-left: 5px;
	cursor: pointer;
}

#notifications {
	background: #E8FECD;
	border: 1px solid #A9BF74;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 5px;
}

#notifications .close {
	float: right;
	top: 5px;
	cursor: pointer;
}

#notifications .button_cont {
	text-align: right;
	width: 100%;
	margin-top: 5px;
}

#link_container {
	text-align: left;
	width: 100%;
	margin-bottom: 5px;
	font-family: 'Lucida Grande',sans-serif;
	font-size: 12px;
}

#link_container .right{
	float: right;
	position: relative;
	top: 4px;
}