html{
	background-color:#F8EFE6;
}
#signatureConfig{
	background: #F8EFE6;
}
textarea, .text {
	border-color:#EF8100;
	color:black;
	opacity:0.8;
	font-weight:normal;
}
#signature{
	border: 1px solid #EF8100;
}
table {
	color:#CF630C;
}
.labelStyle{
	color:#CF630C;
}
.advice, .count, .clear_label, .edit_label, #back_label{
	color:#CF630C;
}



