body{
  background:#A4B5FA none repeat scroll 0 0;
}
	#header, #container{
		background:white url(http://ezweb.tid.es/repository/ezweb-gadgets/feedReader/feedReader_3.32/css/images/fieldset.png) repeat-x scroll left bottom;
		border-color:darkBlue;
	}
	
	
	#search{
		border-bottom:1px solid #929DCC;
		padding:5px 10px 7px;
	  margin: 0px;
	}

	#header_top{
	  border-color:#929DCC;
	}


	#header_bottom{
	  border-color:#929DCC;
	}
	
	#options div{
		color:#424999;
	}
	
	#imp_exp div{
		color:#424999;
	}
	
	#imp_exp{
		border-color:#929DCC;
	}
	
	#list{
	  border-color:#929DCC;
		background:white  url(http://ezweb.tid.es/repository/ezweb-gadgets/feedReader/feedReader_3.32/css/images/fieldset.png) repeat-x scroll bottom left;
	}

	#list .feed{
		border-color:#929DCC;
	}

	.feed_title a{
		color:#1C2151;
	}
	
	.feed_tags a{
		color:#6c6c6c;
		background-color:white;
	}
	
	.feed_tags a:hover{
		color:white;
		background-color:#8D88C3;
	}

	.feed_edition{
		border-color:#d5d5d5;
		background-color: #F5F5F5;
	}
	
	.edition .required{
		color:red;
	}


#addFeed li{
	  border-color:#929DCC;
	  
}



#addFeed fieldset{
	background:white  url(http://ezweb.tid.es/repository/ezweb-gadgets/feedReader/feedReader_3.32/css/images/fieldset2.png) repeat-x scroll bottom left;
	border-color:darkBlue;
	border-style:solid;
	border-width:1px 2px 2px 1px;
}

#addFeed legend{
	background:white none repeat scroll 0 0;
	border-color:darkBlue;
	color:darkBlue;
}

.tag_label{
	color:darkBlue;
}

button{
	background-color:#ECECF0;
	border-color:darkBlue;
}

#search_l{
	color:darkBlue;
}

select{
	border-color:darkBlue;
}

input[type=text],textarea{
	border-color:darkBlue;
}
