body{
  background:#E4DEAC none repeat scroll 0 0;
}
	#header, #container{
		background:white url(http://ezweb.tid.es/repository/ezweb-gadgets/feedReader/feedReader_3.32/css/images/fieldsetyellow.png) repeat-x scroll left bottom;
		border-color:#A68806;
	}
	
	#search{
		border-color:#E9BD00;
	}

	#header_top{
	  border-color:#E9BD00;
	}
	
	#header_bottom{
	  border-color:#E9BD00;
	}
	
	#options div{
		color:#A68806;
	}
	
	#imp_exp div{
		color:#A68806;
	}
	
	#imp_exp{
		border-color:#E9BD00;
	}
	
	#list{
	  border-color:#E9BD00;
		background:white  url(http://ezweb.tid.es/repository/ezweb-gadgets/feedReader/feedReader_3.32/css/images/fieldsetyellow.png) repeat-x scroll bottom left;
	}

	#list .feed{
		border-color:#E9BD00;
	}

	.feed_title a{
		color:#A68806;
	}
	
	.feed_tags a{
		color:#6c6c6c;
		background-color:#EDDD9D;
	}
	
	.feed_tags a:hover{
		color:white;
		background-color:#A68806;
	}

	.feed_edition{
		border: #d5d5d5;
		background-color: #F5F5F5;
	}
	
#addFeed li{
	  border-bottom:#E9BD00; 
}

#addFeed fieldset{
	background:white  url(http://ezweb.tid.es/repository/ezweb-gadgets/feedReader/feedReader_3.32/css/images/fieldsetyellow2.png) repeat-x scroll bottom left;
	border-color:#A68806;
}

#addFeed legend{
	background:white none repeat scroll 0 0;
	border-color:#A68806;
	color:#A68806;
}

.tag_label{
	color:#A68806;
}

button{
	background-color:#ECECF0;
	border-color:#A68806;
}

#search_l{
	color:#A68806;
}

select{
	border-color:#A68806;
}

input[type=text],textarea{
	border-color:#A68806;
}
