body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #000000;
	overflow: hidden;
}
#content_img{
    position:absolute;
    z-index:1;
   width:100%;
   height:100%;

}
#menu_options {
    position:absolute;
    top:0;
    width:100%;
    height:24px;
    z-index:2;
    text-align:center;
}

#menu_route {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    z-index:2;
    text-align:left;

}
#menu_options:hover > * {
    -moz-opacity:1;
}
#menu_route:hover > * {
    -moz-opacity:1;
}
#menu_options > * {
    -moz-opacity:0.3;
} 
#menu_route > * {
    -moz-opacity:0.3;
}
.image{
    width:16px;
    height:16px;
    margin:6px;
    float:left;
  
}
.buttonDel{
    width:16px;
    height:16px;
    position:absolute;
    float:right;
    margin:2px;

}
.select{
    float:left;
    margin-left:20px;
}
.selectRoad{
    text-aling:center;
    margin:3px 3px;
    padding:3px;

}
.subcontent_cam{
    overflow:auto;
    border: 1px solid #888888;
    -moz-border-radius: 4px;
    padding:17px;
    background: PaleGoldenRod;
    position:absolute;
    right:5px;
    left:5px;
    bottom:5px;
    top:77px;
}


.subcontent_camedit{
    overflow:auto;
    border: 1px solid #888888;
    -moz-border-radius: 4px;
    padding:10px;
    background: PaleGoldenRod;
    position:absolute;
    right:5px;
    left:5px;
    bottom:5px;
    top:30px;
}
table.center {
    font-size:14px;
    height:100%;
    width:100%; 
}
table.center td {
    text-align:center;
}

.content{
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background-color:#D4E6FC;
    border:1px solid #888888;
    -moz-border-radius:4px;
}

#trayecto{
    margin-right:5px;

}
.boton{
    border:1px solid #888888;
    -moz-border-radius:4px;
    padding:3px 5px;
    padding-left:21px;
    background-color:#CCC;
    background-position:3px center;
    background-repeat:no-repeat;
    margin:3px;
    cursor:pointer;
    
}
.img_cam{
    float:left;
    padding:5px;
    position:relative;

}
.div_text{
    display:block;
    font-size:0.8em;
    font-weight:bold;
    padding-top:1em;
}

.botonCancel {
    height:20px;
    width:20px;
    margin:3px;
    cursor:pointer;
}
.camara {
    width:180px;
    position:relative;
    margin: 4px auto;
    padding: 3px;
}

.camara:hover {
    background:yellow;
    border: 1px solid orange;
    margin: 3px auto;
}

.camara img {
    background:#eee;
    width:100%;
}

 .cancelar {
    position:absolute;
    top:3px;
    right:3px;
}

camara:hover .cancelar {
    display:block;
}

.camara .descripcion {
    height:2.3em;
    overflow:hidden;
    //			white-space: nowrap;
}
.botonCancel:hover {
    background:orange;
}
.tituloAlternative{

    font-weight:bold;
    margin-top:5px;
    text-align:center;

}
.tituloModificar{
    float:left;
    font-weight:bold;
    margin-top:6px;
    position:absolute;
    right:5px;
}

.tituloCrear{
    font-size:12px;
    font-weight:bold;
    margin-top:5px;
    text-align:center;
}