#head {
	background-color:#5FB0FF;
	border-color:#0D58A6;
}

#joke_frame_title {
	color:#0D58A6;
}

#joke_frame_menu {
	color:#0D58A6;
	background-color:#5FB0FF;
}

#body {
	background:#DFEFFF;
	border-color: #0D58A6;
}

a {
	color:#0D58A6;
}

.buttom {
	color:#0D58A6;
}

