#head {
	background-color:#92EF59;
	border-color:#000;
}

#joke_frame_title {
	color:#429F09;
}

#joke_frame_menu {
	color:#59A72A;
	background-color:#92EF59;
}

#body {
	background:#D7FFBF;
	border-color: #369100;
}

a {
	color:#59A72A;
}

.buttom {
	color:#59A72A;
}

