.header-gadget{
  background:white url(../images/header-red.png) repeat-x scroll left bottom;
}
.content-gadget{
  background:white url(../images/content-red.png) repeat-x scroll left bottom;
}
.content-header td{
  color:#551115;
}
