.header-gadget{
  background:white url(../images/header-yellow.png) repeat-x scroll left bottom;
}
.content-gadget{
  background:white url(../images/content-yellow.png) repeat-x scroll left bottom;
}
.content-header td{
  color:#514501;
}
