body {
	overflow:hidden;
	margin: 0px;
	padding: 0px;   
	background-color: white;   
	font-family:arial,sans-serif;
}

#logo { 
	width:100px;
}

#loading-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
    -moz-opacity: 0.6;
    opacity: 0.6;
    background: white;
    background-image: url("http://demo.ezweb.morfeo-project.com/repository/flickr/myFlickrPhotos/img/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

a {
	color:#0000cc; 
}

a:visited { 
	color:#551a8b; 
}

a:active { 
	color:#ff0000; 
}

.t { 
	width: 75px; 
	height: 75px; 
	margin: 0; 
	border:0; 
	padding: 3px; 
} 


.t:hover { 
	padding:1px; 
	border: 2px solid #0063DC; 
	border-right-color: #FF0084; 
}

.t.selected { 
	background-color: #0063DC; 
}

.frame {
	min-width:290px;
}

#photos_frame {
	padding: 1px;
}

#notices.frame {
	position:absolute;
	top:0;
	left:5px;
	right:5px;
	background: #FFFFCC none repeat scroll 0 0;
}

#notices.frame .error {
	color: #C21010;
	font-size: 12px;
	margin-left: 1em;
	margin-right: .3em;
}

#notices.frame .error {
	color: #C21010;
	font-size: 12px;
	margin-left: 1em;
	margin-right: .3em;
}

#send_photo #logout {
	color:#0063DC;
	float:right;
	cursor:pointer;
}

#send_photo h1 {
	font-weight:bolder;
	color:#FF0084;
	font-size:18px;
}

#send_photo label {
	margin:0 1em;
	font-weight:bolder;
	color:#333;
}

#send_photo p {
	margin:0;
	padding:0;
	display:block;
}

#send_photo .buttoms {
	text-align:center;
}

.left {
	float:left;
}

.right {
	float:right;
}

.buttom {
	background: #0063DC none repeat scroll 0 0;
	-moz-border-radius: 4px;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-family:inherit;
	font-size:14px;
	font-weight:bold;
	padding:6px 8px;
	white-space:nowrap;
	margin: 1px;
}

span.butom:hover {
	background-color: #197F07;
}

.box {
	margin:5px;
	padding:5px;
	font-size:14px;
	background: #F1F6FB none repeat scroll 0 0;
}

.window_menu{
    position: absolute;
    top: 2px;
    right: 2px;
//    width: 100%;
//    height: 100%;
    bottom: 2px;
    left: 2px;
    z-index: 3;
    //-moz-opacity: 0.6;
    //opacity: 0.6;
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #0b8fff;

}

.window_menu .window_top {
  position:relative;
  margin:2px 2px 20px 2px;
}

.window_menu .window_title {
  font-size: 16px;
  color: #2D6F9C;
  font-weight: bold;
  margin-left: 10px;
}

.window_menu .closebutton {
  position: absolute;
  right: 2px;
}
.window_menu .window_content {
  clear: both;
  margin:20px;
}
.window_menu .window_content img{
  margin-right: 5px;
  vertical-align: bottom;
}
.window_msg {
  display: inline;
  text-align: center;
}
.window_msg_error{
  font-size: 90%;
  color: red;
}

.window_menu .window_bottom {
  margin:20px 18px 10px 18px;
  text-align: center;
}

