		body {	
			background-color: #ffffff;
		}
		
		a {
			color:#6688ee;

		}
		
		/******************** HEADER ************************************/
		
		#chan_title, .msg{
			background:#c2cff1;
		}
		
		#chan_link{
			color:#000000;
		}

		#paginator .pag{
			color:#6688ee;
		}
	
		#paginator .current_page{
			color:#828299;
		}

		
		#chan_pubDate, #chan_copyright {
			color: #828299;
		}
	
		/******************** CONTENT *******************/
		#chan_items ul{
			border-top:1px solid #cccccc;		
		}
		

		#chan_items .item {
			border-bottom: 1px solid #cccccc;
			background:#f3f5fc;
		}


		#chan_items li.odd{
			background:#ebeff9;
		}
		
		.item_title {
			color:#000000;
		}

		.item_date {
			color: #828299;
		}

		.item_link {
			color:#7a8ed6;
		}
	
		.item_content {
			border: 1px solid #6688ee;
			background: #FFFFFF;
		}
		
