/* red theme*/
		body {	
			background-color: #ffffff;
		}
		
		a {
			color:#006600;
		}
			
		.item_content {
			border: 1px solid #006600;
			background: #FFFFFF;
		}
			
		#chan_title, .msg{
			color:#ffffff;
			background:#006600;
		}
		#chan_link{
			color:#ffffff;
		}

		#chan_items .item {
			border-bottom: 1px solid #deeec0;
			background:#deeec0;
		}
		#chan_items li.odd{
			background:#ebf5df;
		}
		
		.item_title {
			color:#222222;
		}

		.item_date {
			color: #828299;
		}
		
		.item_link {
			color:#7a8ed6;
		}
		
		#chan_items ul{
			border-top: 1px solid #deeec0;
		}
		
		#chan_pubDate, #chan_copyright {
			color: #828299;
		}
		
				
		#paginator .pag{
			color:#006600;
		}
		
		#paginator .current_page{
			color:#828299;
		}
