/* orange theme*/
		body {	
			background-color: #ffffff;
		}
		
		a {
			color:#ff6400;
		}
		.item_content {
			border: 1px solid #1b49b3;
			background: #FFFFFF;
		}
		
		#chan_title, .msg{
			color:#ffffff;
			background:#ff6400;
		}
		#chan_link{
			color:#ffffff;
		}

		#chan_items .item {
			border-bottom: 1px solid #ff6400;
			background:#feefe5;
		}
		#chan_items li.odd{
			background:#ffffff;
		}

		.item_title {
			color:#000000;
		}

		.item_date {
			color: #828299;
		}
		
		.item_link {
			color:#7a8ed6;
		}
		
		#chan_items ul{		
			border-top:1px solid #ff6400;
		
		}

		#chan_pubDate, #chan_copyright {
			color: #828299;
		}
		
		#paginator .pag{
			color:#ff6400;
		}
	
		#paginator .current_page{
			color:#828299;
		}


