/* red theme*/
		body {	
			background-color: #ffffff;
		}
		
		a {
			color:#AD2121;
		}

		.item_content {
			border: 1px solid #AD2121;
			background: #FFFFFF;
		}
		
		#chan_title, .msg{
			color:#ffffff;
			background:#CC3A2B;
		}
		#chan_link{
			color:#ffffff;
		}

		#chan_items .item {
			border-bottom: 1px solid #CC3A2B;
			background:#d8d3cb;
		}

		#chan_items li.odd{
			background:#ffffff;
		}

		.item_title {
			color:#000000;
		}

		.item_date {
			color: #828299;
		}
		
		.item_link {
			color:#7a8ed6;
		}
		
		#chan_items ul{
			border-top: 1px solid #CC3A2B;
		}
		
		#chan_pubDate, #chan_copyright {
			color: #828299;
		}
		
		#paginator .pag{
			color:#AD2121;
		}
	
		#paginator .current_page{
			color:#828299;
		}
