body{
  background:#CDDFEF none repeat scroll 0 0;
}
	#header, #container{
		background:white url(http://ezweb.tid.es/repository/ezweb-gadgets/listadoMateriales/listadoMateriales_1.01/css/images/fieldset.png) repeat-x scroll left bottom;
		border-color:#3274D0;
	}
	
	
	#search{
		border-bottom:1px solid #3274D0;
		padding:5px 10px 7px;
	  margin: 0px;
	  color:#3274D0;
	}

	#header_top{
	  border-color:#3274D0;
	}


	#header_bottom{
	  border-color:#3274D0;
	}
	
	#options div{
		color:#3274D0;
	}
	
	#imp_exp div{
		color:#3274D0;
	}
	
	#imp_exp{
		border-color:#3274D0;
	}
	
	#list{
	  border-color:#3274D0;
		background:white url(http://ezweb.tid.es/repository/ezweb-gadgets/listadoMateriales/listadoMateriales_1.01/css/images/fieldset.png) repeat-x scroll left bottom;
	}

	#list .material{
		border-color:#3274D0;
	}

	.material_name a{
		color:#3274D0;
	}
	
	.material_tags a{
		color:#6c6c6c;
		background-color:#FBF5EF;
	}
	
	.material_tags a:hover{
		color:#6C6C6C;
		background-color:#E9E9E9;
	}

	.material_edition{
		border-color:#d5d5d5;
		background-color: #F5F5F5;
	}
	
	.edition .required{
		color:red;
	}


#addMaterial li{
	  border-color:#3274D0;
	  
}



#addMaterial fieldset{
	background:white  url(http://ezweb.tid.es/repository/ezweb-gadgets/listadoMateriales/listadoMateriales_1.01/css/images/fieldset2.png) repeat-x scroll bottom left;
	border-color:#3274D0;
	border-style:solid;
	border-width:1px 2px 2px 1px;
}

#addMaterial legend{
	background:white none repeat scroll 0 0;
	border-color:#3274D0;
	color:#3274D0;
}

.tag_label{
	color:#3274D0;
}

button{
	background-color:#ECECF0;
	border-color:#3274D0;
}

#search_l{
	color:#3274D0;
}

select{
	border-color:#3274D0;
}

input[type=text],textarea{
	border-color:#3274D0;
}
