#error_frame {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#fff;

	color:#8A1F11;
}

#error_frame table {
	height:100%;
	margin:0 auto;
}
#error_frame p {
	color:#8A1F11;
	border: 2px solid;
	border-color: #FBC2C4;
	background-color: #FBE3E4;
	margin: 10px 10px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url('../images/error.png');
}

body {
	padding:0;
	margin:0;
	font-size:12px;

	background-image: url(../images/load.gif);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center center;
	
//	cursor:wait;
}

#head {
	height:1.5em;
	padding:.4em;

	overflow:hidden;
	white-space:nowrap;

	background:#ffd157; //#eee;
	border-top:1px solid #000;
}

#joke_frame_title {
	color:#000;
	color:#bb8a0a;
	color:#9e7300;
	font-weight:bold;
	font-size:110%;
	text-decoration:none;
}

#joke_frame_menu {
	font-size:.8em;
	color:#999;
	color:#dfa203;
	position:absolute;
	right:0;
	top:.25em;
	background:#ffd157;
}

#body {
	position:absolute;
	top:2.3em;
	left:0;
	right:0;
	bottom:0;
	padding:.4em 1.25em;

	overflow:auto;

	background:#fff9e8; //#e3f5f3; //#fdfdfd;
//	border-top:1px solid #000;
	border-top:.2em solid #ffb900;
}

#body table {
	height:100%;
	margin:0 auto;
}

table {
	font-size:1em;
	border-spacing:none;
	border-collapse:collapse;
	vertical-align:middle;
}

a {
	color:#9e7300;
	text-decoration:underline;
}

#joke_frame_text {
	font-size:1em;
	text-align:left;
}


#source {
	margin-top:1em;
	font-size:80%;
	text-align:right;
	position:relative;
	bottom:0px;
	right:0px;
}


.buttom {
	color:#777;
	font-weight:bold;
	font-size:2em;
//	width:1.2em;
	
//	cursor:pointer;
}

.buttom:hover {
	color:red;
	cursor:pointer;
}

.buttom.left:before {
	content:'«';
//	padding-left:.25em;
}

.buttom.right:before {
	content:'»';
}

a.opacity {
	cursor:pointer;
	-moz-opacity:0.5;
	opacity:0.5;
	text-decoration:none;
}
a.opacity:hover {
	-moz-opacity:1;
	opacity:1;
}
