body {
			font-family: "Times New Roman", Times, serif;
			font-style: normal;
			color: #000000;
			background-color: #FFFFFF;
		}

		h1 {
			font-family: Arial, Helvetica, sans-serif;
			color: #0033CC
		}

		h2 {
			font-family: Arial, Helvetica, sans-serif;
			color: #0033CC
		}

		h3 {
			font-family: Arial, Helvetica, sans-serif;
			color: #0033CC
		}

		b {
			font-weight: bold;
		}

		.code {
			font-family: Courier, mono;
		}

		.codeblock {
			font-family: Courier, mono;
		}

		.navheading {
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			color: #0033CC
		}

		.navitem {
			font-family: "Times New Roman", Times, serif;
			margin-left: 10pt;
			color: #000000
		}

		.itemdef {
			font-family: "Times New Roman", Times, serif;
			font-size: smaller;
			color: #000000
		}

		.fineprint {
			font-family: Arial, Helvetica, sans-serif;
			font-size: smaller;
			color: #000000
		}


		.menu {
		  z-index: 1;
		  position:absolute;
		  visibility:hidden;
		  background-color: #7079A7;
		  color: White;
		  padding: 3px;
		  #text-decoration:none;
		  #font-family: Verdana, Arial, Helvetica, sans-serif;
		  #font-size: 9px;
		  #font-weight: bold;

		  white-space: nowrap;
		  text-transform: uppercase;
		}
		.menu A:hover {text-decoration: none; color: black;}
		.menu A {text-decoration: none; color: white;}

		.ocultar {
			display: none;
		}

		.mostrar {
			display:block;
			position:absolute;
			background-color: #D4D7E4;
			border:1px solid #316AC5;
			padding:2px;
			text-align:justify;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #000000
		}
		
		h3 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #00006C
		}

		td {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #000000
		}

		th {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #000000
		}

		input {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #000000
		}

		textarea {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #000000
		}

		select {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #000000
		}

		.filaVerdana {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			background-color: #ECEDFF;
			color: #000000
		}

		.filaVerdanaSel {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			background-color: #9999CC;
			color: #000000
		}

		.filaVerdanaCabTabla {
			background-color: Navy;
		}

		.filaVerdanaCabTablaTXT{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: White
		}

		.campos {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #000000
		}
		.TablaBasica {  background-color: #D4D7E4}

		.cabeceraPeq {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color:"#FFFFC8"
		}

		.capan{

			position:relative;
			align:center;
			visibility:true;
		}

		.capa0{

		}

		.capa1{
			position:absolute;
			align:center;
			visibility:true;
		}

		.enlaceSimple{
			text-decoration:none;
			
		}

		.textoNormal {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000000
		}

		.textoNavegacionNombre {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: White;
			height:18
		}

		.filaEnlaces {
			bgcolor: Navy
		}

		.FilaOperaciones{
			background-color: #E3E4FA;
			valign: middle
		}

		.FilaEnlaces{
			background-color: #7079A7;
			height:16
		}

		.FilaOperaciones2{
			background-color: #9999CC;
			height:16
		}

		.enlaceCabecera{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: White
		}

		.TablaPestanya {
			background-color: #E3E4FA;
			width:90%;
		}

		.TablaPestanyaSel {
			background-color: Navy
		}

		.FilaOperacionesN{
			background-color: #9399BE;
		}

		A.enlaceCabecera{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #C6C9DC;
			text-transform: uppercase}

		A.enlaceCabecera:hover{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #070745;
			text-transform: uppercase}

		.Ruta{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 9px;
			font-weight: bold;
			color: White;
			white-space: nowrap;
			text-transform: uppercase}    

		.Ruta:hover{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 9px;
			font-weight: bold;
			color: 070745;
			white-space: nowrap;
			text-transform: uppercase}

		.RutaFinal{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: White; white-space: nowrap}
			
		.RutaCargando{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 9px;
			font-weight: bold;
			color: Red;
			white-space: nowrap;
			text-transform: uppercase}    

		.TabSelected{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #7079A7;
			text-transform: uppercase;
			white-space: nowrap}

		.TabSelected:hover{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #7079A7;
			text-transform: uppercase;
			white-space: nowrap}

		.TabTable{
			background-color: #7079A7}

		.Tab{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #C6C9DC;
			text-transform: uppercase;
			white-space: nowrap}

		.Tab:hover{
			text-decoration:none;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #070745;
			text-transform: uppercase;
			white-space: nowrap}

		A.Boton{
			font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
			font-size: 11px;
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
			color: white;
			clip:      rect(   );
			background-color: #9399BE}

		A.Boton:hover {
			font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
			font-size: 11px;
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
			color: #070745;
			clip:      rect(   );
			background-color: #9399BE}

		A.enlaceNormal{
			text-decoration:none;
			color: Black
		}

		A.enlaceNormal:hover{
			text-decoration:none;
			color: #C6C9DC
		}

		.titleText {
			font-family:  Arial, Helvetica, sans-serif, Verdana;
			font-size: 16px;
			font-weight: bold;
			color: #9999CC;
		}