html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #EDECEB;
}

div.loading {
  background: white url(images/loading.gif) no-repeat center center;
  position:   absolute;
  top:        0px;
  left:       0px;
  right:      0px;
  bottom:     0px;
  z-index:    100000;
}

div {
  margin: 0;
  padding: 0;
}

div.center {
  margin-left:  auto;
  margin-right: auto;
  text-align:   center;
}

div.buttons {
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
}

p {
  margin: 0.5em 3px;
}
/*****************************************************************************/
/*                              StyledElements                               */
/*****************************************************************************/

/* Styled container */

div.container {
  background: transparent;
}

/* Styled Select */

div.styled_select {
  position: relative;
  white-space: nowrap;
  width:    10em;
}

div.styled_select div.text {
  height:   20px;
  margin:   0 22px 1px 4px;
  overflow: hidden;
  padding:  1px 0;
  width:    auto;
}

div.styled_select div.arrow {
  background: transparent url(images/styledElements/select_button.png) no-repeat scroll 0 0;
  height:   20px;
  position: absolute;
  right:    0px;
  top:      0px;
  width:    20px;
  z-index:  2;
}

div.styled_select select {
  border:   0 none;
  display:  block;
  height:   20px;
  opacity:  0;
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  z-index:  3;
}

/* Styled List */

div.styled_list {
  height:   20em;
  position: relative;
  margin:   3px;
  white-space: nowrap;
  width:    10em;
}

div.styled_list > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.styled_list.full {
  width:  100%;
  height: 100%;
  margin: 0px;
}

div.styled_list.full > div {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

div.styled_list div.row {
  white-space: nowrap;
  overflow:    hidden;
  width:       auto;
  cursor:      pointer;
}

div.styled_list div.row.selected {
  padding:    1px 0;
  background: #A1BDE1
}

/* Styled Text Field */

div.styled_text_field {
  padding: 0;
  width:   10em;
  font-size: 13px;
}

div.styled_text_field div {
  border:  0px none;
  margin:  1px 4px 0px 4px;
  padding: 0px;
  width:   auto;
}

div.styled_text_field div input {
  background: transparent;
  border: 0 none;
  color: black;
  display: block;
  height: 18px;
  width: 100%;
}

/* Styled Password Field */

div.styled_password_field {
  padding: 0;
  width:   10em;
  font-size: 13px;
}

div.styled_password_field div {
  border:  0px none;
  margin:  1px 4px 0px 4px;
  padding: 0px;
  width:   auto;
}

div.styled_password_field div input {
  background: transparent;
  border: 0 none;
  color: black;
  display: block;
  height: 18px;
  width: 100%;
}

/* Styled Numeric Field */

div.styled_numeric_field {
  height:   20px;
  margin:   3px;
  padding:  0px;
  position: relative;
  width:    7em;
  font-size: 13px;
}

div.styled_numeric_field div {
  border:  0px none;
  margin:  3px 29px 0px 4px;
  padding: 0px;
  width:   auto;
}

div.styled_numeric_field div input {
  background: transparent;
  border: 0 none;
  color: black;
  display: block;
  height: 18px;
  padding: 0;
  width: 100%;
}

div.styled_numeric_field button.numeric_top_button {
  -moz-border-radius: 0px 4px 0px 0px;
  background:transparent url(images/styledElements/top_button.png) no-repeat scroll -1px -1px;
  height: 11px;
  position:absolute;
  right:-1px;
  top:-1px;
  width:25px;
  border: 1px solid #888888;
  z-index:2;
}

div.styled_numeric_field button.numeric_bottom_button {
  -moz-border-radius: 0px 0px 4px 0px;
  background: transparent url(images/styledElements/bottom_button.png) no-repeat scroll -1px -1px;
  height:     12px;
  position:   absolute;
  right:      -1px;
  top:        9px;
  width:      25px;
  border: 1px solid #888888;
  z-index:    2;
}

/* Styled Button */

.styled_button {
  float: left;
}

.styled_button > div {
  cursor: pointer;
}

.styled_button > div > div.icon {
}

/* Styled HPaned */

.hpaned {
  width: 100%;
  height: 100%;
  min-width: 5px;
  position: relative;
}

.hpaned .leftpanel {
  position: absolute;
  left: 0;
  height:100%;
  overflow: auto;
}

.hpaned .rightpanel {
  right: 0;
  position: absolute;
  height:100%;
  overflow: auto;
}

.hpaned .handler {
  position: absolute;
  width: 5px;
  height: 100%;
  background: transparent url(images/styledElements/vhandler.png) no-repeat scroll 0 center;
  cursor: col-resize;
  float:left;
}

/* Styled Notebook */

.notebook {
  min-width: 5em;
  min-height: 5em;
  position: relative;
  margin: 3px;
  padding: 0px;
  overflow: hidden;
}

.notebook.full {
  width: 100%;
  height: 100%;
  margin: 0;
}

.notebook.full > div {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

.notebook .tab_area .move_left {
  color: #AAA;
  cursor: default;
  position: absolute;
  left: 0px;
  width: 16px;
}

.notebook .tab_area .move_right {
  color: #AAA;
  cursor: default;
  position: absolute;
  right: 0px;
  width: 16px;
}

.notebook .tab_area .move_left.enabled, .notebook .tab_area .move_right.enabled {
  color: black;
  cursor: pointer;
}

.notebook .tab_area {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
}

.notebook .tab_area .tab {
  float: left;
  position: relative;
  cursor: pointer;
}

/*
.notebook .tab_area .tab.selected {
}
*/

.notebook .tab_area .tab.hidden {
  display: none;
}

.notebook > div > .wrapper {
  position: absolute;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}

.notebook > div > .wrapper > div {
  background: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  visibility: visible;
  z-index: 2;
}

.hidden .notebook > div > .wrapper > div,
.notebook > div > .wrapper > div.hidden {
  z-index: 1;
  visibility: hidden;
}

/* Styled Alternatives */

.alternatives {
  min-width: 5em;
  min-height: 5em;
  position: relative;
  margin: 3px;
  padding: 0px;
  overflow: hidden;
}

.alternatives > .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}

.alternatives.full {
  width: 100%;
  height: 100%;
  margin: 0;
}

.alternatives > .wrapper > div {
  background: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  visibility: visible;
  z-index: 2;
}

.hidden > .alternatives > .wrapper > div,
.alternatives > .wrapper > div.hidden {
  visibility: hidden;
  z-index: 1;
}

/* Styled alert */

.styled_alert {
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
  width:    100%;
  height:   100%;
  z-index:  9999;
}

/* Border Layout */
.border_layout {
  position: relative;
}

.border_layout > .north {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.border_layout > .west {
  position: absolute;
  left: 0;
}

.border_layout > .center {
  position: absolute;
}

.border_layout > .east {
  position: absolute;
  right: 0;
}

.border_layout > .south {
  position: absolute;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
}

/*****************************************************************************
 *                              Tema por defecto                             *
 *****************************************************************************/

/* Styled Select */

div.styled_select {
  -moz-border-radius: 4px;
  background:  transparent url(images/styledElements/button.png) repeat-x scroll 0 0;
  border:      1px solid #888888;
  color:       white;
  height:      20px;
  margin:      3px;
  font-size:   13px;
}

/* Styled List */

div.styled_list > div {
  -moz-border-radius: 4px;
  border:      1px solid #888888;
  background: white;
}

div.styled_list div.row {
  padding:    1px 0;
}

div.styled_list div.row.selected {
  background: #A1BDE1;
  color:      #FAFAFA;
}

/* Styled Text Field */

div.styled_text_field {
  -moz-border-radius: 4px;
  background: white;
  border:  1px solid #888888;
  height:  20px;
  margin:  3px;
}

/* Styled Password Field */

div.styled_password_field {
  -moz-border-radius: 4px;
  background: white;
  border:  1px solid #888888;
  height:  20px;
  margin:  3px;
}

/* Styled Numeric Field */

div.styled_numeric_field {
  -moz-border-radius: 4px;
  border:     1px solid #888888;
  background: white none repeat scroll 0 0;
}

/* Styled Button */

.styled_button {
}

.styled_button > div {
  -moz-border-radius: 4px;
  border:     1px solid #888888;
}

.styled_button > div > div.icon {
  float: left;
  margin: 3px;
}

/* Styled Notebook */

.notebook .tab_area {
  padding-left: 16px;
  padding-right: 16px;
  height: 22px;
  font-size: 16px;
}

.notebook .tab_area .tab {
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:9px;
  background: #CFCDCA;
  min-width: 5em;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #888888 #888888 #F2F1F0 #888888;
  font-size: 12px;
  padding:3px 19px 0 3px;
  margin: 0 3px;
  height: 17px;
}

.notebook .tab_area .tab .close_button {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 16px;
  font-size: 10px;
  overflow: hidden;
}

.notebook .tab_area .tab.selected {
  height: 18px;
  border-bottom: 0 none;
  background: #EDECEB url(images/styledElements/selectedTab.png) repeat-x scroll 0 0;
}

.notebook > div > .wrapper {
  -moz-border-radius: 3px;
  background: white;
  border: 1px solid #888888;
  top: 21px;
  right: 0;
  bottom: 0;
  left: 0;
}

.notebook > div > .wrapper > div {
  -moz-border-radius: 2px;
  padding: 3px;
}

/* Styled alert */

.styled_alert {
  background-color: rgba(255,255,255,0.6);
}

.styled_alert .message {
  -moz-border-radius: 10px;
  background-color: #e6f3ff;
  border: 1px solid #888;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;  
}

.styled_alert .message .header {
  font-weight:bold;
  font-style:italic;
  font-family:Arial,Verdana;
  font-size:20px;
  text-align:left;

  position: absolute;
  left: 50px;
  top: 10px;
  right: 10px;
}

.styled_alert.warning .message .header {
  color: #ef8d00;
}

.styled_alert.error .message .header {
  color: #FF0000;
}

.styled_alert.info .message .header {
  color: #3d58ff;
}

.styled_alert .message .close_button {
  position:absolute;
  right: 13px;
  top: 13px;
  width: 16px;
  height: 16px;
  background: url(images/dialog/dialog-cancel.png);
  cursor: pointer;
}

.styled_alert .message .icon {
  position: absolute;
  left: 9px;
  width: 32px;
  height: 32px;
  top: 48%;
}

.styled_alert.warning .message .icon {
  background: url(images/dialog/dialog-warning.png);
}

.styled_alert.error .message .icon {
  background: url(images/dialog/dialog-error.png);
}

.styled_alert.info .message .icon {
  background: url(images/dialog/dialog-information.png);
}

.styled_alert .message .content {
  border-style: solid;
  border-color: #FF0000;
  border-width: 1px 0 0 1px;
  position: absolute;
  left: 50px;
  right: 3px;
  top: 40px;
  bottom: 4px;
  overflow: auto;
}
